## Hospital Data Cleaning

In [0]:
import pandas as pd
data = pd.read_csv('AHA_2016_NY_WA_CA.csv')
colnames = pd.read_csv('AS2016lay_fieldname.csv')

In [0]:
cols = list(colnames['Field Name'])

In [0]:
hosp = data.loc[:,cols]

In [4]:
hosp.head()

   RADMCHI                         MNAME      MLOCCITY  ...  PTTOTH FTRNLT PTRNLT
0      NaN        Bassett Medical Center   Cooperstown  ...     515    NaN    NaN
1      0.0             Adirondack Health  Saranac Lake  ...     298    4.0    2.0
2      0.0        Olean General Hospital         Olean  ...     218    NaN    NaN
3      0.0  Faxton St. Luke's Healthcare         Utica  ...    1776    NaN    NaN
4      NaN           St. Mary's Hospital          Troy  ...     378    NaN    NaN

[5 rows x 20 columns]

In [0]:
hosp = hosp[hosp['RADMCHI']==0]
hosp.drop('RADMCHI', axis=1, inplace=True)
hosp['TOTALBEDS'] = hosp.iloc[:,7:16].sum(axis=1)
hosp['TOTALFULLPERS'] = hosp.iloc[:,[16,18]].sum(axis=1)
hosp['TOTALPARTPERS'] = hosp.iloc[:,[17,19]].sum(axis=1)
hosp['CNTYNAME'] = hosp['CNTYNAME'].str.rsplit(',',n=1)
hosp['COUNTY'] = [el[0] for el in hosp['CNTYNAME']]
hosp.reset_index(drop=True, inplace=True)

In [6]:
hosp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MNAME          457 non-null    object
 1   MLOCCITY       457 non-null    object
 2   MLOCSTCD       457 non-null    int64
 3   MLOCZIP        457 non-null    object
 4   MSTATE         457 non-null    object
 5   CNTYNAME       457 non-null    object
 6   GENBD          457 non-null    float64
 7   PEDBD          457 non-null    float64
 8   MSICBD         457 non-null    float64
 9   CICBD          457 non-null    float64
 10  PEDICBD        457 non-null    float64
 11  SPCICBD        457 non-null    float64
 12  OTHICBD        457 non-null    float64
 13  OTHBD94        457 non-null    float64
 14  OTHOTH         38 non-null     object
 15  FTTOTH         457 non-null    int64
 16  PTTOTH         457 non-null    int64
 17  FTRNLT         213 non-null    float64
 18  PTRNLT         210 non-null    float64
 19  TOTALBEDS      457 non-null    float64
 20  TOTALFULLPERS  457 non-null    float64
 21  TOTALPARTPERS  457 non-null    float64
 22  COUNTY         457 non-null    object
dtypes: float64(13), int64(3), object(7)
memory usage: 82.2+ KB

In [0]:
hosp.drop(hosp.columns[5:19], axis=1, inplace=True)
hosp['TOTALBEDS'] = hosp['TOTALBEDS'].astype('int64', copy=True)

In [8]:
hosp.head()

                                    MNAME  ...       COUNTY
0                       Adirondack Health  ...     Franklin
1                  Olean General Hospital  ...  Cattaraugus
2            Faxton St. Luke's Healthcare  ...       Oneida
3  Mid-Hudson Forensic Psychiatric Center  ...       Orange
4          New York-Presbyterian Hospital  ...     New York

[5 rows x 9 columns]

In [10]:
hosp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MNAME          457 non-null    object
 1   MLOCCITY       457 non-null    object
 2   MLOCSTCD       457 non-null    int64
 3   MLOCZIP        457 non-null    object
 4   MSTATE         457 non-null    object
 5   TOTALBEDS      457 non-null    int64
 6   TOTALFULLPERS  457 non-null    float64
 7   TOTALPARTPERS  457 non-null    float64
 8   COUNTY         457 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 32.3+ KB

## Cases Data Cleaning

In [239]:
cases_raw = pd.read_csv('usa_county_wise.csv')
state_df = cases_raw[(cases_raw['Province_State'] == 'California') | (cases_raw['Province_State'] == 'New York') | (cases_raw['Province_State'] == 'Washington')]
state_df.head()

          UID iso2 iso3  ...     Date  Confirmed Deaths
191  84006001   US  USA  ...  1/22/20          0      0
192  84006003   US  USA  ...  1/22/20          0      0
193  84006005   US  USA  ...  1/22/20          0      0
194  84006007   US  USA  ...  1/22/20          0      0
195  84006009   US  USA  ...  1/22/20          0      0

[5 rows x 14 columns]

In [240]:
cases = state_df[(state_df['FIPS']!=80006) & (state_df['FIPS']!=90006) & (state_df['FIPS']!=80036) & (state_df['FIPS']!=90036) & (state_df['FIPS']!=80053) & (state_df['FIPS']!=90053)]
cases.rename(columns={'Admin2': 'County'}, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [241]:
cases.reset_index(drop=True, inplace=True)
cases.drop(['UID','iso2','iso3','code3','FIPS','County','Country_Region','Combined_Key'], axis=1, inplace=True)
cases.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Province_State        Lat       Long_     Date  Confirmed  Deaths
0     California  37.646294 -121.892927  1/22/20          0       0
1     California  38.596786 -119.822359  1/22/20          0       0
2     California  38.445831 -120.656960  1/22/20          0       0
3     California  39.667278 -121.600525  1/22/20          0       0
4     California  38.205371 -120.552913  1/22/20          0       0

In [0]:
cases.to_csv('cases.csv',index=False)

## Merge Cases and Hospital Data

In [0]:
cases = pd.read_csv('cases.csv')

In [246]:
!pip install uszipcode

Requirement already satisfied: uszipcode in /usr/local/lib/python3.6/dist-packages (0.2.4)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from uszipcode) (19.3.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from uszipcode) (1.3.16)
Requirement already satisfied: pathlib-mate in /usr/local/lib/python3.6/dist-packages (from uszipcode) (1.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from uszipcode) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pathlib-mate->uszipcode) (1.12.0)
Requirement already satisfied: autopep8 in /usr/local/lib/python3.6/dist-packages (from pathlib-mate->uszipcode) (1.5.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2020.4.5.1)
Requirement already satisfied: pycodestyle>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from autopep8->pathlib-mate->uszipcode) (2.5.0)

In [0]:
# get cities
from uszipcode import Zipcode, SearchEngine
search = SearchEngine(simple_zipcode=True)

samp_lat = cases.loc[:,'Lat'].tolist()
samp_long = cases.loc[:,'Long_'].tolist()

samp_cities = []
for i in range(len(samp_lat)):
  result = search.by_coordinates(samp_lat[i],samp_long[i], radius=20, returns=1)
  samp_cities.append(result[0].major_city)

all_cities = pd.Series(samp_cities)

cases['MLOCCITY'] = all_cities

cases.to_csv('cases_w_cities.csv', index=False)

In [249]:
# merge datasets
import pandas as pd

cases = pd.read_csv('cases_w_cities.csv')
newhosp = pd.DataFrame(hosp.groupby(['MLOCCITY'])['TOTALBEDS','TOTALFULLPERS','TOTALPARTPERS'].sum().reset_index())

data = pd.merge(cases, newhosp, how='inner', on='MLOCCITY')
data['BEDSREMAIN'] = data['TOTALBEDS'] - data['Confirmed'] + data['Deaths']
data.to_csv('finaldata.csv',index=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

# **Analysis**

In [0]:
import pandas as pd
data = pd.read_csv('finaldata.csv')

from datetime import datetime, timedelta

def get_monday(x):
  dt = datetime.strptime(x, '%m/%d/%y')
  start = dt - timedelta(days=dt.weekday())
  return start

data['monday'] = data['Date'].apply(get_monday)

def get_df_list():
  df_list = []
  city_list = []
  for city in list(data['MLOCCITY'].unique()):
    df = data[data['MLOCCITY'] == city]
    df = df.iloc[:,-2:]
    df = pd.DataFrame(df.groupby('monday').sum())
    df.reset_index(drop=True, inplace=True)
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'WEEKNUMBER'}, inplace=True)
    df['WEEKNUMBER'] = df['WEEKNUMBER'] + 1
    df['BEDSREMAIN'].mask(df['BEDSREMAIN']<0,0, inplace=True)
    df_list.append(df)
    city_list.append(city)
  return df_list, city_list

df_list, city_list = get_df_list()

#dfrate = pd.DataFrame(data.groupby('monday')['Confirmed','Deaths'].sum())

#dfrate['confirmedrate'] = dfrate['Confirmed']/7
#dfrate['deathrate'] = dfrate['Deaths']/7
#dfrate.drop(['Confirmed','Deaths'], axis=1, inplace=True)

#finaldata = pd.merge(data, dfrate, how='left', on='monday')

In [3]:
city_list[0]

'Pleasanton'

In [4]:
df_list[0]

    WEEKNUMBER  BEDSREMAIN
0            1        4565
1            2        6391
2            3        6391
3            4        6391
4            5        6391
5            6        6391
6            7        6383
7            8        6347
8            9        6091
9           10        5138
10          11        3736
11          12        1528
12          13           0
13          14           0
14          15           0
15          16           0

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.externals import joblib

def fit_regression(df, cityname):
  X = df['WEEKNUMBER'].to_numpy().reshape(-1,1)
  y = df['BEDSREMAIN'].to_numpy().reshape(-1,1)
  X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=23, train_size=0.7, test_size=0.3)
  lr = LinearRegression()
  lr.fit(X_train, y_train)
  filename = "linmodel_" + cityname
  joblib.dump(lr, filename)
  y_pred = lr.predict(X_test)
  return (y_test, y_pred)

y_tup_list = []
for i in range(len(df_list)):
  y_tup_list.append(fit_regression(df_list[i], city_list[i]))

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [0]:
from sklearn import metrics 
import numpy as np

error_list = []
for i in range(len(city_list)):
  error_list.append(np.sqrt(metrics.mean_squared_error(y_tup_list[i][0], y_tup_list[i][1])))

dup_finaldata = pd.DataFrame(city_list, columns=['City'])
dup_finaldata['errors'] = error_list
dup_finaldata.set_index('City',inplace=True)
error_df = dup_finaldata.merge(pd.Series(data.groupby(['MLOCCITY'])['TOTALBEDS'].sum()), how='left', left_index=True, right_index=True)
error_df.to_csv('error.csv')

## **PREDICTIVE MODEL**

In [0]:
def get_prediction(city, weeknum):
  """
  Predicts the total number of beds remaining in hospitals in a given city on a given week number.
  Week 1 is the week of January 20, 2020.

  Args:
    city: A city within the state of California, New York, or Washington
    weeknum: integer larger than 0

  """
  filename = "linmodel_"+ city
  lr = joblib.load(filename) # load trained linear model
  y_pred = lr.predict(np.array([weeknum]).reshape(-1,1)) 
  if y_pred[0][0] < 0: # return 0 if negative
    pred = 0
  else:
    pred = y_pred[0][0]

  print(f"The total number of beds remaining in {city} on week {weeknum} is {int(pred)}.")

In [27]:
get_prediction("New York", 15)

The total number of beds remaining in New York on week 15 is 26443.

In [28]:
get_prediction("New York", 17)

The total number of beds remaining in New York on week 17 is 0.